build.gradle
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.gradle/7.6.1/gc.properties
.gradle/7.6.1/checksums/checksums.lock
.gradle/7.6.1/checksums/md5-checksums.bin
.gradle/7.6.1/checksums/sha1-checksums.bin
.gradle/7.6.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.6.1/dependencies-accessors/gc.properties
.gradle/7.6.1/executionHistory/executionHistory.lock
.gradle/7.6.1/fileChanges/last-build.bin
.gradle/7.6.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
gradle/wrapper/gradle-wrapper.jar
gradle-wrapper.properties
.gitignore
